



<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img
        width="80"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="login_Form"  novalidate>
        <input type="text" id="login" class="fadeIn second cls-textbox" name="login" placeholder="Username" formControlName="login_text" [ngClass]="{ 'is-invalid': login_Submitted && lg_Form['login_text'].errors }">
        <input type="password" id="password" class="fadeIn third cls-textbox" name="login" placeholder="Password" formControlName="login_password" [ngClass]="{ 'is-invalid': login_Submitted && lg_Form['login_password'].errors  }">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)=log_In()>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">        
        <a class="underlineHover" routerLink="/create-user">Create Account</a>
      </div>
  
    </div>
  </div>

